/* This CSS is copy from sitcon.org
 * If SITCON have any problem with this css
 * please contact us.
 * Thanks.
 *
 */
.sessions .item .time.header{
  padding-left:0.5em;
  color:#fff;
  background:#7cb059;
  border-left:5px solid #7cb059;
  font-size:1.125em;
  line-height:1.6em;
  margin-top:0.75em;
  padding-top:0.375em;
  padding-bottom:0.225em;
  margin-bottom:0.375em;
  -webkit-border-radius:5px 0 0 0;
  -moz-border-radius:5px 0 0 0;
  -ms-border-radius:5px 0 0 0;
  -o-border-radius:5px 0 0 0;
  border-radius:5px 0 0 0
}
#main-menu{
  background:#232323
}
@media (min-width: 48em){
  #main-menu{
    min-height: 60px
  }
}
#main-menu.fixed{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:9999
}
.menu{
  padding:2em;
  padding-top:0.15em;
  padding-bottom :0.15em;
  margin:0;
  list-style:none
}
@media (min-width: 48em){
  .menu{
    padding:0;
    padding-top:0.9em;
    padding-bottom:0.9em
  }
}
.menu a{
  text-decoration:none
}
.menu .item{
  border-bottom:1px solid #333;
  margin-top:0.225em;
  padding-top:0.375em;
  padding-bottom:0.375em;
  margin-bottom:0.225em
}
@media (min-width: 48em){
  .menu .item{
    display:inline-block;
    padding:0.3em 1em;
    border-bottom:none;
    border-right:1px solid #333;
    margin-top:0.225em;
    padding-top:0em;
    padding-bottom:0em;
    margin-bottom:0.225em
  }
}
.menu .item:last-child{
  border:none
}
.menu.main,.mobile.menu{
  text-align:center;
  text-transform:uppercase;
  color:#666;
  overflow:hidden;
  *zoom:1;
  -webkit-transition:100ms ease-out;
  -moz-transition:100ms ease-out;
  -o-transition:100ms ease-out;
  transition:100ms ease-out
}
.menu.main .item.active a,.mobile.menu .item.active a{
  color:#fff
}
.menu.main a,.mobile.menu a{
  color:#666;
  -webkit-transition:100ms ease-in;
  -moz-transition:100ms ease-in;
  -o-transition:100ms ease-in;
  transition:100ms ease-in
}
.menu.main a:hover,.mobile.menu a:hover{
   color:#fff
}
.menu.main{
  max-height:0
}
@media (min-width: 48em){
  .menu.main{
    max-height:100em
  }
}
#menu-toggle{
  position:absolute;
  left:-100px
}
#menu-toggle:focus ~ .main.menu{
  max-height:100em
}
.menu.mobil e{
  display:block;
  padding:0
}
@media (min-width: 48em){
  .menu.mobile{
    display:none
  }
}
.menu.mobile .item{
  color:#7cb059;text-shadow:0 0 5px rgba(124,176,89,0.5)
}
#scroll-down-notice{
  display:none;
  position:absolute;
  bottom:4em;
  left:0;
  right:0;
  z-index:999;
  text-align:center;
  text-transform:uppercase;
  color:#fff
}
@media (min-width: 64em){
  #scroll-down-notice{
    display:block
  }
}
#scroll-down-notice:after{
  content:"";
  position:absolute;
  top:2em;
  left:50%;
  width:0;
  height:0;
  margin-left:-1em;
  border:1em solid transparent;
  border-top:1em solid #fff;
  -webkit-animation-delay:0;
  -webkit-animation-duration:1s;
  -webkit-animation-name:jumping;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-delay:0;
  -moz-animation-duration:1s;
  -moz-animation-name:jumping;
  -moz-animation-fill-mode:forwards;
  -moz-animation-iteration-count:infinite;
  -o-animation-delay:0;
  -o-animation-duration:1s;
  -o-animation-name:jumping;
  -o-animation-fill-mode:forwards;
  -o-animation-iteration-count:infinite;
  animation-delay:0;
  animation-duration:1s;
  animation-name:jumping;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite
}
