<div>
    <h3 class="slidetitle">Chapter 1：Compiler &amp; Basic I/O</h3>
    <p>
        歡迎來到系程！首先就先讓我們來架構基礎的C語言環境吧！什麼？已經架好了？那就來小試身手玩IO吧！
        <br>
        <br>下載：<a href="./102/Ch1.pdf" target="_blank">Chapter 1 PDF Slide</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 2：Operations &amp; Condition Judgment</h3>
    <p>
        IO結束後就進入了加加減減的運算式啦！大家運算式要寫對，不然C語言可是看不懂的喔！什麼？加減乘除太簡單了？那就來點條件判斷吧！
        <br>
        <br>下載：<a href="./102/Ch2.pdf" target="_blank">Chapter 2 PDF Slide</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 3：Iterate</h3>
    <p>
        咦？我怎麼一直走到原本的地點呢？啊！我忘記break了！看我的，斷開魂節！斷開鎖鏈！
        <br>
        <br>下載：<a href="./102/Ch3.pdf" target="_blank">Chapter 3 PDF Slide</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 4：Array &amp; Strings</h3>
    <p>
        學長，我要怎麼把這整句話丟進程式裡面啊！
        <br>
        <br>下載：<a href="./102/Ch4.pdf" target="_blank">Chapter 4 PDF Slide</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 5：Sort</h3>
    <p>
        那個，不好意思！書架上的雜誌編號亂掉了，可以麻煩你去把他排好嗎？
        <br>
        <br>下載：<a href="./102/Ch5.pdf" target="_blank">Chapter 5 PDF Slide</a> 、 <a href="./Attachment/Ch5.zip">額外檔案</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 6：Function</h3>
    <p>
        程式碼好長喔！有沒有辦法讓他看起來簡單又專業呢？
        <br>
        <br>下載：<a href="./102/Ch6.pdf" target="_blank">Chapter 6 PDF Slide</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 7：Recurse</h3>
    <p>
        遞迴只應天上有，凡人該當用迴圈！
        <br>
        <br>下載：<a href="./102/Ch7.pdf" target="_blank">Chapter 7 PDF Slide</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 8：Structure</h3>
    <p>
        變數好多喔！有沒有辦法可以不要宣告那麼多變數啊？從aa到zz打的手好痠喔！
        <br>
        <br>下載：<a href="./102/Ch8.pdf" target="_blank">Chapter 8 PDF Slide</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 9：Pointer</h3>
    <p>
        指標是一門非常神奇的學問，沒有指對空間的話，系統會立刻傲嬌給你看喔！
        <br>
        <br>下載：<a href="./102/Ch9.pdf" target="_blank">Chapter 9 PDF Slide</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 10：Review</h3>
    <p>
        打王前總是要回血的，快來看看這一年下來學了哪些東西，回個血準備面對大Boss吧！
        <br>
        <br>下載：<a href="./102/Ch10.pdf" target="_blank">Chapter 10 PDF Slide</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 11：Linked List</h3>
    <p>
        魔王現身！當程式越寫越大，變數所占用的空間越來越多、運算的時間越來越長時，鏈結串列是一個可以輕鬆改善這種症狀的結構，讓我們好好的來瞧一瞧吧！
        <br>
        <br>下載：<a href="./102/Ch11.pdf" target="_blank">Chapter 11 PDF Slide</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter ??：All Slides</h3>
    <p>
        覺得所有的簡報要慢慢點真的很累嗎？點下面這邊就對了
        <br>
        <br>下載：<a href="./102/102Slides.zip">Chapter 1-13 PDF Slides(Include Attachment File)</a>
    </p>
</div>
