<div>
    <h3 class="slidetitle">Chapter 0：Start From 0</h3>
    <p>
        面對未知的C語言，該怎麼做準備呢？從C語言簡介到環境布置，教你打造適合你自己的Coding環境，並且完成你的第一個C語言撰寫的程式。
        <br>
        <br>下載：<a href="./103/Ch0.pdf" target="_blank">Chapter 0 PDF Slide</a>、<a href="./103/Attachment/Ch0.c">額外檔案(範例程式碼)</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 1：Basic I/O &amp;&nbsp;Variables</h3>
    <p>
        完成了第一個作品之後我們就要開始慢慢地踏進C語言的領地了！首先我們要面對的是基礎的輸入輸出，沒有互動就不算一個程式！對吧？面對完輸入輸出之後緊接而來的就是如何儲存資料了，輸入的東西要放哪呢？真是個好問題呢......
        <br>
        <br>下載：<a href="./103/Ch1.pdf" target="_blank">Chapter 1 PDF Slides</a>、<a href="./103/Attachment/Ch1.zip">額外檔案(範例程式碼)</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 2：Selection Statement &amp;&nbsp;Loop</h3>
    <p>
        了解了輸入輸出之後，我們就要一口氣大躍進了！這堂課我們要了解到if &amp; switch這兩個選擇敘述以及for &amp; while &amp;do...while這三種Loop敘述，這幾個在未來寫成世上可是相當重要的，各位務必認真聽唷！
        <br>
        <br>下載：<a href="./103/Ch2.pdf" target="_blank">Chapter 2 PDF Slides</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 3：Review &amp;&nbsp;Coding Style &amp;&nbsp;Contest Introduction</h3>
    <p>
        期中考快到了！！讓我們一起來歡樂的複習吧！同時這次同場加映了排版以及程式設計類的競賽，有問題的要趕快問喔～
        <br>
        <br>下載：<a href="./103/Ch3.pdf" target="_blank">Chapter 3 PDF Slides</a>、<a href="./103/Attachment/Ch3 Contest Introduction.pdf" target="_blank">Contest Introduction</a>、<a href="./103/Attachment/Ch3.zip">額外檔案(範例程式碼)</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 4：Function &amp;&nbsp;Recursion</h3>
    <p>
        main裡面愈寫愈多，是時候學函式了！！還有遞迴~~遞迴~~
        <br>
        <br>下載：<a href="./103/Ch4.pdf" target="_blank">Chapter 4 PDF Slides</a>、<a href="./103/Attachment/Ch4.zip">額外檔案(範例程式碼)</a>
    </p>
</div>

<div>
    <h3 class="slidetitle">Chapter 5：Array &amp;&nbsp;String</h3>
    <p>
        啊!變數宣告區好多變數，看了頭好暈喔！有沒有辦法讓我們的變數宣告曲變簡潔呢？
        <br>
        <br>下載：<a href="./103/Ch5.pdf" target="_blank">Chapter 5 PDF Slides</a>、<a href="./103/Attachment/Ch5 Additional information.pdf" target="_blank">補充資料</a>
    </p>
</div>

<div data-showin-index="true">
    <h3 class="slidetitle">Chapter 6：Debug</h3>
    <p>
        這不是Bug，這是功能(笑)
        <br>
        <br>下載：<a href="./103/Ch6.pdf" target="_blank">Chapter 6 PDF Slides</a>
    </p>
</div>

<div data-showin-index="true">
    <h3 class="slidetitle">Chapter 7：Pointer & Memory Manage</h3>
    <p>
        C語言大魔王在此，在學這個之前都不算學過C語言！
        <br>
        <br>下載：<a href="./103/Ch7.pdf" target="_blank">Chapter 7 PDF Slides</a>
    </p>
</div>

<div data-showin-index="true">
    <h3 class="slidetitle">Chapter 8：Structure</h3>
    <p>
        結構(Structure)，將不同且相關的資料包一起
        <br>
        <br>下載：<a href="./103/Ch8.pdf" target="_blank">Chapter 8 PDF Slides</a>、<a href="./103/Attachment/Ch8.zip">額外檔案(範例程式碼)</a>
    </p>
</div>
